body {
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    margin-left: 25px;
}

h3 {
    margin: 35px 0 5px 0;
    font-size: 3rem;
    padding: 0;
}

h4 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

#navBar {
    background-color: lightgray;
    color: white;
    padding: 5px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
}

#sideContainer {
    width: 25%;
    height: 800px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 10px;
    border-top: 5px solid darkgrey;
}

#mainContainer {
    width: 85%;
    height: 800px;
    background-color: lightgrey;
    border-top: 5px solid darkgrey;
}

.projectContent {
    display: none;
    width: 90%;
    margin: 30px auto 0 auto;
}

.projectContent.active {
    display: block;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.projectTab {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    margin: 10px auto 10px auto;
    border: 1px solid black;
}

.projectTab>p {
    font-size: 2rem;
}

.projectTab:hover, .addFormProject:hover {
    cursor: pointer;
    border: 2px solid black;
}

.projectTab.active{
    background-color: grey;
}

.xIcon {
    height: 40px;
    width: 40px;
}

.xIcon:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.toDo {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    margin: 15px 0 15px 0;
    gap: 10px;
    padding: 10px;
}

.toDo.active {
    text-decoration: line-through;
}

.toDoLeft {
    display: flex;
    gap: 10px;
    margin: 0 0 0 5px;
    padding: 0;
}

.toDoRight {
    display: flex;
    margin: 0 5px 0 0;
    padding: 0;
}

.toDoTitle {
    justify-self: flex-start;
}

.toDoDate {
    justify-self: flex-end;
    align-self: flex-end;
}


.addFormToDo {
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: none;
    font-size: 1.3rem;
    border: solid 1px black;
}

.formButtonIcon {
    height: 27px;
    width: 27px;
    margin-left: 3px;
}

.addFormToDo:hover {
    cursor: pointer;
    background-color: darkgrey;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.addFormProject {
    padding: 10px;
    border: solid 1px black;
    width: 80%;
    margin-top: 10px;
}

.projectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}

input, button {
    border: none;
    border-radius: 0;
    padding: 10px;
    font-size: 1.3rem;
}

.checkBox {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: none;
    border: solid 1px black;
    justify-self: flex-start;
    align-self: center;
}

.checkBox.active {
    background-color:#53fc75;
}

.checkBox:hover {
    cursor: pointer;
    border: solid 3px black;
}